body {
	background-color: white;
	margin: 0;
}

body,
html {
	font-family: 'Inter', sans-serif;
}

.container {
	width: 1220px;
	margin: 0 auto;
	height: inherit;
	min-height: inherit;
}

header {
	height: auto;
	background-color: #ff3b3c;
}

.search {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 22px 0;
}

.search .logo {
	padding-top: 11px;
}

.search .form {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.search .form input {
	height: 58px;
	border-radius: 14px;
	border: none;
	width: 505px;
	padding: 20px;
	box-sizing: border-box;
}

.search .social ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.search .social ul li {
	padding: 0 10px;
}

.nav {
	padding: 10px 0;
	border-top: 1px solid #f0f0f0;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav ul li a {
	color: white;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}

.nav ul li a:hover {
	text-decoration: underline;
}

main {
	height: auto;
	margin: 50px 0;
}

footer {
	min-height: 368px;
	background-color: #7525a7;
}

footer .container {
	display: flex;
	flex-direction: column;
}

.columns-container {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	border-top: 1px solid #ba53fb;
	padding: 30px 0;
	gap: 20px;
}

.columns-container .col ul {
	list-style-type: none;
	padding: 0;
}

.columns-container .col ul li {
	padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
	font-weight: bold;
	padding-bottom: 20px;
}

.columns-container .col ul li a {
	color: white;
	text-decoration: none;
}

.copyright {
	border-top: 1px solid #ba53fb;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 30px 0;
	box-sizing: border-box;
}
